PORT=5004
MONGO_URI=mongodb+srv://rageeshan0730_db_user:gPzmwFHHGBMa7P5t@dsassignment.negpwzu.mongodb.net/notification_db?appName=DSAssignment
RABBITMQ_URI=amqp://localhost
REQUIRE_RABBITMQ=false

EMAIL_SERVICE=gmail
EMAIL=your_email@gmail.com
PASSWORD=your_email_app_password
