PORT=5003
MONGO_URI=mongodb+srv://<user>:<pass>@<cluster>/appointment_db
JWT_SECRET=your_jwt_secret_key
AUTH_SERVICE_URL=http://localhost:5001
DOCTOR_SERVICE_URL=http://localhost:5004
PATIENT_SERVICE_URL=http://localhost:5002
TELEMEDICINE_SERVICE_URL=http://localhost:5006
NOTIFICATION_SERVICE_URL=http://localhost:5005
